ES_BS_OrderManagement/Service Descriptors/OrderManagement_CONCRETE.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:jms="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tibex="http://www.tibco.com/bs3.2/extensions" xmlns:tns="http://www.eniquesolutions.com/OrderManagement/" xmlns:tns0="http://www.eniquesolutions.com/ResponseStatus" xmlns:tns1="http://www.eniquesolutions.org/Orders" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManagement" targetNamespace="http://www.eniquesolutions.com/OrderManagement/" tibex:src="file:/C:/Bw6_Workspace/MiniProject/WSDLfiles/OrderManagement_CONCRETE.wsdl">
    
  <wsdl:types>
        
    <xsd:schema xmlns:tns="http://www.eniquesolutions.com/ResponseStatus" elementFormDefault="qualified" targetNamespace="http://www.eniquesolutions.com/ResponseStatus">
            
      <xsd:element name="Status" type="tns:StatusType"/>
            
      <xsd:complexType name="StatusType">
                
        <xsd:sequence>
                    
          <xsd:element name="Status" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:complexType name="StatusArray">
                
        <xsd:sequence>
                    
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Status" type="tns:StatusType"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="StatusArray" type="tns:StatusArray"/>
          
    </xsd:schema>
        
    <xsd:schema xmlns:tns="http://www.eniquesolutions.org/Orders" elementFormDefault="qualified" targetNamespace="http://www.eniquesolutions.org/Orders">
            
      <xsd:element name="Orders" type="tns:OrdersType"/>
            
      <xsd:element name="Order" type="tns:OrderType"/>
            
      <xsd:complexType name="OrderType">
                
        <xsd:sequence>
                    
          <xsd:element name="ORDER_ID" type="xsd:string"/>
                    
          <xsd:element name="CUSTOMER_ID" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="PRODUCT_ID" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="QUANTITY" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="LIST_PRICE" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="DISCOUNT" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="ORDER_STATUS" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="ORDER_DATE" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="REQUIRED_DATE" type="xsd:string"/>
                    
          <xsd:element maxOccurs="1" minOccurs="0" name="SHIPPED_DATE" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:complexType name="OrdersType">
                
        <xsd:sequence>
                    
          <xsd:element maxOccurs="unbounded" minOccurs="0" name="Order" type="tns:OrderType"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
            
      <xsd:element name="OrderID" type="tns:OrderIDType"/>
            
      <xsd:complexType name="OrderIDType">
                
        <xsd:sequence>
                    
          <xsd:element name="OrderID" type="xsd:string"/>
                  
        </xsd:sequence>
              
      </xsd:complexType>
          
    </xsd:schema>
      
  </wsdl:types>
    
  <wsdl:message name="CreateOrderRequest">
        
    <wsdl:part element="tns1:Orders" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="CreateOrderResponse">
        
    <wsdl:part element="tns0:Status" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="UpdateOrderRequest">
        
    <wsdl:part element="tns1:Order" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="UpdateOrderResponse">
        
    <wsdl:part element="tns0:Status" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DeleteOrderRequest">
        
    <wsdl:part element="tns1:OrderID" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="DeleteOrderResponse">
        
    <wsdl:part element="tns0:Status" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetOrderRequest">
        
    <wsdl:part element="tns1:OrderID" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetOrderResponse">
        
    <wsdl:part element="tns1:Order" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetOrderHistoryRequest">
        
    <wsdl:part element="tns0:Status" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:message name="GetOrderHistoryResponse">
        
    <wsdl:part element="tns1:Orders" name="parameters"/>
      
  </wsdl:message>
    
  <wsdl:portType name="OrderManagement">
        
    <wsdl:operation name="CreateOrder">
            
      <wsdl:input message="tns:CreateOrderRequest"/>
            
      <wsdl:output message="tns:CreateOrderResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="UpdateOrder">
            
      <wsdl:input message="tns:UpdateOrderRequest"/>
            
      <wsdl:output message="tns:UpdateOrderResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="DeleteOrder">
            
      <wsdl:input message="tns:DeleteOrderRequest"/>
            
      <wsdl:output message="tns:DeleteOrderResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="GetOrder">
            
      <wsdl:input message="tns:GetOrderRequest"/>
            
      <wsdl:output message="tns:GetOrderResponse"/>
          
    </wsdl:operation>
        
    <wsdl:operation name="GetOrderHistory">
            
      <wsdl:input message="tns:GetOrderHistoryRequest"/>
            
      <wsdl:output message="tns:GetOrderHistoryResponse"/>
          
    </wsdl:operation>
      
  </wsdl:portType>
    
  <wsdl:binding name="SOAPServiceBinding" type="tns:OrderManagement">
        
    <soap:binding style="document" transport="http://www.tibco.com/namespaces/ws/2004/soap/binding/JMS"/>
        
    <jms:binding messageFormat="bytes"/>
        
    <wsdl:operation name="CreateOrder">
            
      <soap:operation soapAction="CreateOrder" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="UpdateOrder">
            
      <soap:operation soapAction="UpdateOrder" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="DeleteOrder">
            
      <soap:operation soapAction="DeleteOrder" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="GetOrder">
            
      <soap:operation soapAction="GetOrder" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
        
    <wsdl:operation name="GetOrderHistory">
            
      <soap:operation soapAction="GetOrderHistory" style="document"/>
            
      <wsdl:input>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:input>
            
      <wsdl:output>
                
        <soap:body parts="parameters" use="literal"/>
              
      </wsdl:output>
          
    </wsdl:operation>
      
  </wsdl:binding>
    
  <wsdl:service name="OrderManagement">
        
    <wsdl:port binding="tns:SOAPServiceBinding" name="OrderManagementSOAP">
            
      <soap:address location=""/>
            
      <jms:connectionFactory/>
            
      <jms:targetAddress destination="queue">queue.sample</jms:targetAddress>
          
    </wsdl:port>
      
  </wsdl:service>
  
</wsdl:definitions>
