ES_Common_Model_SH/Service Descriptors/OrderManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/OrderManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="OrderManagement" targetNamespace="http://www.eniquesolutions.com/OrderManagement/" xmlns:xsd1="http://www.eniquesolutions.org/Orders" xmlns:xsd2="http://www.eniquesolutions.com/ResponseStatus">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/OrderManagement/">
      <xsd:element name="CreateOrder">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateOrderResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeleteOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrder">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="Get">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderHistory">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetOrderHistoryResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.eniquesolutions.org/Orders"
    		schemaLocation="../Schemas/Orders.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.eniquesolutions.com/ResponseStatus"
    		schemaLocation="../Schemas/ResponseStatus.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreateOrderRequest">
    <wsdl:part element="xsd1:Orders" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateOrderResponse">
    <wsdl:part element="xsd2:Status" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="UpdateOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:Order"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateOrderResponse">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:OrderID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeleteOrderResponse">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderRequest">
  	<wsdl:part name="parameters" element="xsd1:OrderID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderResponse">
  	<wsdl:part name="parameters" element="xsd1:Order"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetRequest">
  	<wsdl:part name="parameters" element="tns:Get"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetResponse">
  	<wsdl:part name="parameters" element="tns:GetResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryRequest">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetOrderHistoryResponse">
  	<wsdl:part name="parameters" element="xsd1:Orders"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="OrderManagement">
    <wsdl:operation name="CreateOrder">
      <wsdl:input message="tns:CreateOrderRequest"/>
      <wsdl:output message="tns:CreateOrderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="UpdateOrder">
    	<wsdl:input message="tns:UpdateOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteOrder">
    	<wsdl:input message="tns:DeleteOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:DeleteOrderResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetOrder">
    	<wsdl:input message="tns:GetOrderRequest"></wsdl:input>
    	<wsdl:output message="tns:GetOrderResponse"></wsdl:output>
    </wsdl:operation>    <wsdl:operation name="GetOrderHistory">    	<wsdl:input message="tns:GetOrderHistoryRequest"></wsdl:input>    	<wsdl:output message="tns:GetOrderHistoryResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="OrderManagementSOAP" type="tns:OrderManagement">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateOrder">
      <soap:operation soapAction="http://www.eniquesolutions.com/OrderManagement/CreateOrder"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="OrderManagement">
    <wsdl:port binding="tns:OrderManagementSOAP" name="OrderManagementSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
