ES_Common_Model_SH/Service Descriptors/ProductManagement.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/Abstract/ProductManagement/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsd1="http://www.eniquesolutions.org/Products" xmlns:xsd2="http://www.eniquesolutions.com/ResponseStatus" xmlns:xsd3="http://www.eniquesolutions.com/FileInput" xmlns:xsd4="http://www.eniquesolutions.org/Categories" name="ProductManagement" targetNamespace="http://www.eniquesolutions.com/Abstract/ProductManagement/">
            
  
  
  
  
  <wsdl:types>
                        
    
    
    
    
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/ProductManagement/">
                                    
      
      
      
      
      <xsd:element name="AddProduct">
                                                
        
        
        
        
        <xsd:complexType>
                                                            
          
          
          
          
          <xsd:sequence>
                                                                        
            
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                                      
          
          
          
          
          </xsd:sequence>
                                                          
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                    
      
      
      
      
      <xsd:element name="AddProductResponse">
                                                
        
        
        
        
        <xsd:complexType>
                                                            
          
          
          
          
          <xsd:sequence>
                                                                        
            
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                                      
          
          
          
          
          </xsd:sequence>
                                                          
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                    
      
      
      
      
      <xsd:element name="DeleteProduct">
                                              	
        
        
        
        
        <xsd:complexType>
                                                        		
          
          
          
          
          <xsd:sequence>
                                                                  			
            
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                                  		
          
          
          
          
          </xsd:sequence>
                                                        	
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                    
      
      
      
      
      <xsd:element name="DeleteProductResponse">
                                              	
        
        
        
        
        <xsd:complexType>
                                                        		
          
          
          
          
          <xsd:sequence>
                                                                  			
            
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                                  		
          
          
          
          
          </xsd:sequence>
                                                        	
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                    
      
      
      
      
      <xsd:element name="UpdateProduct">
                                              	
        
        
        
        
        <xsd:complexType>
                                                        		
          
          
          
          
          <xsd:sequence>
                                                                  			
            
            
            
            
            <xsd:element name="in" type="xsd:string"/>
                                                                  		
          
          
          
          
          </xsd:sequence>
                                                        	
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                    
      
      
      
      
      <xsd:element name="UpdateProductResponse">
                                              	
        
        
        
        
        <xsd:complexType>
                                                        		
          
          
          
          
          <xsd:sequence>
                                                                  			
            
            
            
            
            <xsd:element name="out" type="xsd:string"/>
                                                                  		
          
          
          
          
          </xsd:sequence>
                                                        	
        
        
        
        
        </xsd:complexType>
                                              
      
      
      
      
      </xsd:element>
                                  
    
    
    
    
    </xsd:schema>
                        
    
    
    
    
    <xsd:schema>
                                  	
      
      
      
      
      <xsd:import namespace="http://www.eniquesolutions.org/Products" schemaLocation="../Schemas/Products.xsd">
    	</xsd:import>
                                  	
      
      
      
      
      <xsd:import namespace="http://www.eniquesolutions.com/ResponseStatus" schemaLocation="../Schemas/ResponseStatus.xsd">
    	</xsd:import>
                                  	
      
      
      
      
      <xsd:import namespace="http://www.eniquesolutions.com/FileInput" schemaLocation="../Schemas/FileInput.xsd">
    	</xsd:import>
                  
      
      <xsd:import namespace="http://www.eniquesolutions.org/Categories" schemaLocation="../Schemas/Categories.xsd">
      </xsd:import>
          
    </xsd:schema>
                  
  
        
    
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/Abstract/ProductManagement/">
                    	
      
      <xsd:element name="GetAllProducts">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="in" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
                    	
      
      <xsd:element name="GetAllProductsResponse">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="out" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
                    	
      
      <xsd:element name="GetIndividualProducts">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="in" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
                    	
      
      <xsd:element name="GetIndividualProductsResponse">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="out" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
                    	
      
      <xsd:element name="GetProductsByCategory">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="in" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
                    	
      
      <xsd:element name="GetProductsByCategoryResponse">
                        		
        
        <xsd:complexType>
                            			
          
          <xsd:sequence>
                                				
            
            <xsd:element name="out" type="xsd:string"/>
                                			
          
          </xsd:sequence>
                            		
        
        </xsd:complexType>
                        	
      
      </xsd:element>
          
    </xsd:schema>
            
  
  </wsdl:types>
            
  
  
  
  
  <wsdl:types>
          	
    
    <xsd:schema>
              		
      
      <xsd:import namespace="http://www.eniquesolutions.com/FileInput" schemaLocation="../Schemas/FileInput.xsd">
  		</xsd:import>
          
    </xsd:schema>
      
  </wsdl:types>
      
  
  <wsdl:message name="AddProductRequest">
                        
    
    
    
    
    <wsdl:part element="xsd3:FileInput" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
            
  
  
  
  
  <wsdl:message name="AddProductResponse">
                        
    
    
    
    
    <wsdl:part element="xsd2:Status" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
            
  
  
  
  
  <wsdl:message name="DeleteProductRequest">
                      	
    
    
    
    
    <wsdl:part element="xsd3:FileInput" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
            
  
  
  
  
  <wsdl:message name="DeleteProductResponse">
                      	
    
    
    
    
    <wsdl:part element="xsd2:Status" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
            
  
  
  
  
  <wsdl:message name="UpdateProductRequest">
                      	
    
    
    
    
    <wsdl:part element="xsd3:FileInput" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
            
  
  
  
  
  <wsdl:message name="UpdateProductResponse">
                      	
    
    
    
    
    <wsdl:part element="xsd2:Status" name="parameters"/>
                      
  
  
  
  
  </wsdl:message>
      
  
  <wsdl:message name="GetAllProductsRequest">
          	
    
    <wsdl:part element="xsd2:Status" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:message name="GetAllProductsResponse">
          	
    
    <wsdl:part element="xsd1:Products" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:message name="GetIndividualProductsRequest">
          	
    
    <wsdl:part element="xsd1:ProductID" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:message name="GetIndividualProductsResponse">
          	
    
    <wsdl:part element="xsd1:Product" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:message name="GetProductsByCategoryRequest">
          	
    
    <wsdl:part element="xsd4:Category" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:message name="GetProductsByCategoryResponse">
          	
    
    <wsdl:part element="xsd1:Products" name="parameters"/>
          
  
  </wsdl:message>
      
  
  <wsdl:portType name="ProductManagement">
                        
    
    
    
    
    <wsdl:operation name="AddProduct">
                                    
      
      
      
      
      <wsdl:input message="tns:AddProductRequest"/>
                                    
      
      
      
      
      <wsdl:output message="tns:AddProductResponse"/>
                                  
    
    
    
    
    </wsdl:operation>
                        
    
    
    
    
    <wsdl:operation name="DeleteProduct">
                                  	
      
      
      
      
      <wsdl:input message="tns:DeleteProductRequest"/>
                                  	
      
      
      
      
      <wsdl:output message="tns:DeleteProductResponse"/>
                                  
    
    
    
    
    </wsdl:operation>
                        
    
    
    
    
    <wsdl:operation name="UpdateProduct">
                                  	
      
      
      
      
      <wsdl:input message="tns:UpdateProductRequest"/>
                                  	
      
      
      
      
      <wsdl:output message="tns:UpdateProductResponse"/>
                                  
    
    
    
    
    </wsdl:operation>
            
    
    <wsdl:operation name="GetAllProducts">
                	
      
      <wsdl:input message="tns:GetAllProductsRequest"/>
                	
      
      <wsdl:output message="tns:GetAllProductsResponse"/>
                
    
    </wsdl:operation>
            
    
    <wsdl:operation name="GetIndividualProducts">
                	
      
      <wsdl:input message="tns:GetIndividualProductsRequest"/>
                	
      
      <wsdl:output message="tns:GetIndividualProductsResponse"/>
                
    
    </wsdl:operation>
            
    
    <wsdl:operation name="GetProductsByCategory">
                	
      
      <wsdl:input message="tns:GetProductsByCategoryRequest"/>
                	
      
      <wsdl:output message="tns:GetProductsByCategoryResponse"/>
                
    
    </wsdl:operation>
          
  
  </wsdl:portType>
            
  
  
  
  
  <wsdl:binding name="ProductManagementSOAP" type="tns:ProductManagement">
                        
    
    
    
    
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
                        
    
    
    
    
    <wsdl:operation name="AddProduct">
                                    
      
      
      
      
      <soap:operation soapAction="http://www.eniquesolutions.com/ProductManagement/AddProduct"/>
                                    
      
      
      
      
      <wsdl:input>
                                                
        
        
        
        
        <soap:body use="literal"/>
                                              
      
      
      
      
      </wsdl:input>
                                    
      
      
      
      
      <wsdl:output>
                                                
        
        
        
        
        <soap:body use="literal"/>
                                              
      
      
      
      
      </wsdl:output>
                                  
    
    
    
    
    </wsdl:operation>
                      
  
  
  
  
  </wsdl:binding>
            
  
  
  
  
  <wsdl:service name="ProductManagement">
                        
    
    
    
    
    <wsdl:port binding="tns:ProductManagementSOAP" name="ProductManagementSOAP">
                                    
      
      
      
      
      <soap:address location="http://www.example.org/"/>
                                  
    
    
    
    
    </wsdl:port>
                      
  
  
  
  
  </wsdl:service>
          




</wsdl:definitions>
