ES_Common_Model_SH/Service Descriptors/UserOnBoarding.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.eniquesolutions.com/UserOnBoarding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="UserOnBoarding" targetNamespace="http://www.eniquesolutions.com/UserOnBoarding/" xmlns:xsd1="http://www.eniquesolutions.com/Customers" xmlns:xsd2="http://www.eniquesolutions.com/ResponseStatus">
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.eniquesolutions.com/UserOnBoarding/">
      <xsd:element name="CreateAccount">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="in" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="CreateAccountResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="out" type="xsd:string"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAccountDetails">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="GetAccountDetailsResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateAccount">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="UpdateAccountResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeactivateAccount">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="in" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
      <xsd:element name="DeactivateAccountResponse">
      	<xsd:complexType>
      		<xsd:sequence>

      			<xsd:element name="out" type="xsd:string"></xsd:element>
      		</xsd:sequence>
      	</xsd:complexType>
      </xsd:element>
    </xsd:schema>
    <xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    	<xsd:import namespace="http://www.eniquesolutions.com/Customers"
    		schemaLocation="../Schemas/Customers.xsd">
    	</xsd:import>
    	<xsd:import
    		namespace="http://www.eniquesolutions.com/ResponseStatus"
    		schemaLocation="../Schemas/ResponseStatus.xsd">
    	</xsd:import></xsd:schema></wsdl:types>
  <wsdl:message name="CreateAccountRequest">
    <wsdl:part element="xsd1:Customer" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="CreateAccountResponse">
    <wsdl:part element="xsd2:Status" name="parameters"/>
  </wsdl:message>
  <wsdl:message name="GetAccountDetailsRequest">
  	<wsdl:part name="parameters" element="xsd1:CustomerID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="GetAccountDetailsResponse">
  	<wsdl:part name="parameters" element="xsd1:Customer"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateAccountRequest">
  	<wsdl:part name="parameters" element="xsd1:Customer"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="UpdateAccountResponse">
  	<wsdl:part name="parameters" element="xsd1:CustomerID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeactivateAccountRequest">
  	<wsdl:part name="parameters" element="xsd1:CustomerID"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="DeactivateAccountResponse">
  	<wsdl:part name="parameters" element="xsd2:Status"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="UserOnBoarding">
    <wsdl:operation name="CreateAccount">
      <wsdl:input message="tns:CreateAccountRequest"/>
      <wsdl:output message="tns:CreateAccountResponse"/>
    </wsdl:operation>
    <wsdl:operation name="GetAccountDetails">
    	<wsdl:input message="tns:GetAccountDetailsRequest"></wsdl:input>
    	<wsdl:output message="tns:GetAccountDetailsResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateAccount">
    	<wsdl:input message="tns:UpdateAccountRequest"></wsdl:input>
    	<wsdl:output message="tns:UpdateAccountResponse"></wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeactivateAccount">
    	<wsdl:input message="tns:DeactivateAccountRequest"></wsdl:input>
    	<wsdl:output message="tns:DeactivateAccountResponse"></wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="UserOnBoardingSOAP" type="tns:UserOnBoarding">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="CreateAccount">
      <soap:operation soapAction="http://www.eniquesolutions.com/UserOnBoarding/CreateAccount"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="UserOnBoarding">
    <wsdl:port binding="tns:UserOnBoardingSOAP" name="UserOnBoardingSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
