ES_Common_Model_SH/Schemas/FileInput.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema targetNamespace="http://www.eniquesolutions.com/FileInput" elementFormDefault="qualified" xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.eniquesolutions.com/FileInput">


    <element name="FileInput" type="tns:FileInputtype"></element>
    
    <complexType name="FileInputtype">
    	<sequence>
    		<element name="FilePath" type="string"></element>
    	</sequence>
    </complexType>
</schema>