ES_SessionHander/Schemas/BooleanStatus.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/BooleanStatus" xmlns:tns="http://www.example.org/BooleanStatus" elementFormDefault="qualified">


    <element name="BooleanStatus" type="tns:BooleanStatusType"></element>
    
    <complexType name="BooleanStatusType">
    	<sequence>
    		<element name="StatusB" type="boolean"></element>
    	</sequence>
    </complexType>
</schema>